/* page Start css */
* {
    margin: 0;
    padding: 0;
}

ul,
ol {
    list-style: none;
}

a {
    text-decoration: none;
    display: inline-block;
}

img{
    vertical-align: middle;
}

/* page end css */


 /* Menu start  */
.navbar{
    height: 60px;
    background: rgb(238, 58, 34);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 10px;

}

.navbar > ul{
    display: flex;
    justify-content: center;
    height: 60px;
    align-items: center;
    margin-right: 20px;
}

.navbar ul li a{
    color: rgb(223, 243, 223);
    font-size: 20px;
    font-weight: 700;
    font-family: sans-serif;
    padding: 0 10px;
    transition: all linear .3s;
    line-height: 60px;
    display: block;
}


.navbar ul li a:hover{
    color: #26383a;
    background: rgb(176, 196, 238);
}

.navbar ul li{
    position: relative;
}


.navbar ul li ul{
    position: absolute;
    left: 0;
    top: 60px;
    width: 200px;
    background: #2e36429c;
    text-align: center;
    opacity: 0;
    visibility: hidden;
    transition: all linear .3s;
}


.navbar ul li ul li{
    width: 100%;
}

.navbar ul li:hover > ul{
    opacity: 1;
    visibility: visible;
}

.navbar ul li ul li ul{
    left: 100%;
    top: 0;
}
            /* Menu end  */


            /* banner part start */
.banner {
    background: url(../images/Banneri.jpg);
    height: 500px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
}

.text{
    color: rgb(231, 115, 61);
margin-top: 150px;
margin-left: 80px;
padding: 20px;
text-align: center;

}
.btn{
    height: 40px;
    outline: none;
   border-radius: 5px;
    padding: 10px 30px;
    color: azure;
    background: orange;
    border: none;
}
.btn:hover{
    color: #80ceec;
    background: rgb(223, 104, 25); 
}
.pic img{
    height: 250px;
    width: 300px;
    margin-top: 120px;
    margin-left: 350px;
    padding: 10px;
    border-radius: 50%;
}


/* banner part end */